{% load static %}

<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <table>
    <form action="{% url 'suhedeleapp:signup' %}" method="post">
      {% csrf_token %}
      <!-- {{ form.as_table }} -->
      <p>UserName</p>
      {{ form.name }}
      <br>
      <p>Password</p>
      {{ form.password }}
      <tr>
        <td></td>
        <td><input type="submit" value="送信"></td>
      </tr>
    </form>
  </table>
  <p class="log"><a href="{% url 'suhedeleapp:login' %}">ログインへ</a></p>
</body>
</html>